GtkScrolledWindow GtkTextView {
	background-color: black;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 8;
}

GtkSwitch {
	border-style: solid;
	border-radius: 4px;
}

GtkSwitch:focused {
	border-radius: 0;
}

GtkButton {
	border-radius: 4px;
}
