GtkScrolledWindow GtkTextView {
	background-color: black;
	color: white;
 	font-family: "DejaVu Sans Mono", monospace;	
	font-size: 9;
}

GtkSwitch {
	border-style: solid;
	border-radius: 4px;
}

GtkSwitch:focused {
	border-radius: 0;
}

GtkButton {
	border-radius: 4px;
}
